// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.edit-delete-article {
  text-align: right;
}

.article-and-comment-heading {
  left: 280px;
}

.article-content {
  font-size: 18px;
}

.search-text-field {
  width: 350px;;
}

#author-column {
  width: 20%;
}

#title-column {
  width: 40%;
}